.grid-container{
    width: 100%; 
    max-width: 1280px;      
}

[class*='col-'] {
float: none; 
min-height: 1px; 
/*-- our gutter -- */
 
}

.grid-container > [class^="col-"] {
float: none;
}

.grid-container > [class^="col-"]:first-child {
margin-left: 0;
}
.grid-container > [class^="col-"]:last-child {
float: none;
}

.col-1{ width: 6.5%; }
.col-2{ width: 15%; }
.col-3{ width: 23.5%;}
.col-4{ width: 100%; }
.col-5{ width: 40.5%;}
.col-6{ width: 100%; }
.col-7{ width: 57.5%;}
.col-8{ width: 66%; }
.col-9{ width: 74.5%; }
.col-10{ width: 83%; }
.col-11{ width: 91.5%; }
.col-12{ width: 100%; }








    



    





